body {
    margin: 0px;
    background-color: #1F2937;
    color: #6EE7B7;
}

.container {
    max-width: 50%;
    margin: auto;
}

#hero {
    text-align: center;
    margin: 4rem;
}

input,
label,
#output-box {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    margin-bottom: 1rem;
}

#btn-check {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 2rem;
}

#output-box {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    #hero {
        margin: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 20px;
    }
}